.App {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  color: #3466AF;
  flex-direction: column;
}

body{
  margin: 0%;
  padding: 0%;
}

.TitleSection{
  background-color:#f5c60c;
  width: 100%;
  height: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.TitleSection input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ffcd0595;
  font-size: 18px;
  padding-left: 18px;
}

.TitleSection button {
  width: 180px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #ffcd0595;
  font-size: 18px;
  padding-left: 18px;
  background-color: #3466AF;
  border: none;
  color: white;
}
.TitleSection button:hover {
   cursor:pointer
}
.DisplaySection{
  display: flex;  
  flex-direction: column;
  align-items: center;
}
.DisplaySection h4, h3 {
  margin: 5px, 
}
.DisplaySection img{
  width: 200px;
}